<IfModule mod_rewrite.c>
    Options -Indexes
    RewriteEngine On

    # Send all requests to Laravel front controller.
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

